{% extends "base.html" %}
{% load static %}

{% block content %}
<body>

    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-white display-3">About</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">About</p>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Features Start -->
    <div class="container-fluid bg-secondary my-5">
        <div class="container">
            {% for about in About %}
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img style="height: 400px; width: 100%;" class="img-fluid w-100" src="{{ about.image.url }}" alt="">
                </div>
                <div class="col-lg-7 py-5 py-lg-0">

                    <p class="mb-4">{{ about.about }}</p>
                    <ul class="list-inline">
                        <li><h6><i style="color:  rgb(231, 216, 3) !important;" class="far fa-dot-circle text-primary mr-3"></i>Best In Industry</h6>
                        <li><h6><i style="color:  rgb(231, 216, 3) !important;" class="far fa-dot-circle text-primary mr-3"></i>Emergency Services</h6></li>
                        <li><h6><i style="color:  rgb(231, 216, 3) !important;" class="far fa-dot-circle text-primary mr-3"></i>24/7 Customer Support</h6></li>
                    </ul>
                    <div class="d-flex align-items-center pt-2">
                        <button type="button" class="btn-play" data-toggle="modal"
                            data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                            <span></span>
                        </button>
                        <h5 class="font-weight-bold m-0 ml-4">Play Video</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>
{% endblock %}