{% extends "base.html" %}
{% block title %}
  Index Page
{% endblock title %}
{% load static %}

{% block content %}
<body>
    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid mb-4">
        {% for i in Company %}
        <div class="container text-center py-5">
            <h1 style="color: rgb(231, 216, 3) !important;" class="text-primary mb-4">{{ i.name }}</h1>
            <h1 class="text-white display-3 mb-5">{{ i.description }}</h1> 
        </div>
        {% endfor %}
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            {% for a in About %}
            <div class="row align-items-center">
                {% if a.image  %}
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img style="height: 450px; width: 450px !important;" class="img-fluid w-100" src="{{ a.image.url }}" alt="">
                    <div class="bg-primary text-dark text-center p-4">
                        <h3 class="m-0"></h3>
                    </div>
                </div>
                {% endif %}
                <div class="col-lg-7">
                    <h6 style="color: rgb(231, 216, 3) !important;" class="text-primary text-uppercase font-weight-bold">About Us</h6>
                    <h1 class="mb-4">Trusted & Faster Logistic Service Provider</h1>
                    <p class="mb-4">{{ a.about }}</p>
                    <div class="d-flex align-items-center pt-2">
                        <button style="color: rgb(231, 216, 3) !important;" type="button" class="btn-play" data-toggle="modal"
                            data-src="{{ a.link }}" data-target="#videoModal">
                            <span></span>
                        </button>
                        <h5 class="font-weight-bold m-0 ml-4">Play Video</h5>
                    </div>          
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Video Modal -->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>        
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!--  Quote Request Start -->
    <div class="container-fluid bg-secondary my-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 py-5 py-lg-0">
                    <h6 style="color:  rgb(231, 216, 3) !important;" class="text-primary text-uppercase font-weight-bold">Statistics</h6>
                    <p class="mb-4">This section provides information on all statistical results of our company. All our customers, the companies we work with, our employees, etc</p>
                    <div class="row">
                        {%for s in Statistic%}
                        <div class="col-sm-3">
                            <h1 style="color:  rgb(231, 216, 3) !important;" class="text-primary mb-2" data-toggle="counter-up">{{s.count}}</h1>
                            <h6 class="font-weight-bold mb-4">{{s.name}}</h6>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="bg-primary py-5 px-4 px-sm-5">
                        <form  class="py-5" method='POST'>
                            {% csrf_token %}
                            {{ luck }}
                            <div class="form-group">
                                <input name="name" type="text" class="form-control border-0 p-4" placeholder="Your Name" required="required" />
                            </div>
                            <div class="form-group">
                                <input name="email" type="email" class="form-control border-0 p-4" placeholder="Your Email" required="required" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control border-0 p-4"  id="w3review" name="subject" placeholder="Your message">
                                </textarea>
                            </div>
                            <div>
                                <button class="btn btn-dark btn-block border-0 py-3" value="Yuborish" type="submit">Get A Quote</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quote Request Start -->


    <!-- Services Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 style="color:  rgb(231, 216, 3) !important;" class="text-primary text-uppercase font-weight-bold">Our Services</h6>
                <h1 class="mb-4">Best Logistic Services</h1>
            </div>
            <div class="row pb-3">
                {% for service in Service %}
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <img style="height: 25px; width: 25px; border-radius: 50%;" src="{{ service.image.url }}" alt="">
                        <h6 class="text-white font-weight-medium m-0">{{ service.name }}</h6>
                    </div>
                    <p>{{ service.about }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Services End -->

    <!-- Team Start -->
    <!-- <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">Delivery Team</h6>
                <h1 class="mb-4">Meet Our Delivery Team</h1>
            </div>
            <div class="row">
                {% for team in Team %}
                <div class="col-lg-3 col-md-6">
                    <div class="team card position-relative overflow-hidden border-0 mb-5">
                        <img style="width: 350px !important; height: 250px !important;" class="card-img-top" src="{{ team.image.url }}" alt="">
                        <div class="card-body text-center p-0">
                            <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                                <h5 class="font-weight-bold">{{ team.name }}</h5>
                                <span>{{ team.position }}</span>
                            </div>
                            <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                                <a class="btn btn-outline-dark btn-social mr-2" href="{{ team.telegram }}"><i class="fab fa-telegram"></i></a>
                                <a class="btn btn-outline-dark btn-social mr-2" href="{{ team.facebook }}"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-dark btn-social mr-2" href="{{ team.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-outline-dark btn-social" href="tel:{{ team.phone }}"><i class="fa fa-phone"></i></a>
                            </div>
                        </div>
                    </div>                
                </div>
               {% endfor %}
            </div>
        </div>
    </div> -->
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 style="color:  rgb(231, 216, 3) !important;" class="text-primary text-uppercase font-weight-bold">Team</h6>
                <h1 class="mb-4">Our Team</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                {% for team in Team %}
                <div class="position-relative bg-secondary p-4">
                    <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid rounded-circle" src="{{ team.image.url }}" style="width: 60px; height: 60px;" alt="">
                        <div class="ml-3">
                            <h6 class="font-weight-semi-bold m-0">{{ team.name }}</h6>
                            <small>{{ team.position }}</small>
                        </div>
                    </div>
                    <div class="team-social d-flex align-items-center justify-content-center ">
                        <a class="btn btn-outline-dark btn-social mr-2" href="{{ team.telegram }}"><i class="fab fa-telegram"></i></a>
                        <a class="btn btn-outline-dark btn-social mr-2" href="{{ team.facebook }}"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-dark btn-social mr-2" href="{{ team.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-dark btn-social" href="tel:{{ team.phone }}"><i class="fa fa-phone"></i></a>
                    </div>
                   
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Blog Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 style="color:  rgb(231, 216, 3) !important;" class="text-primary text-uppercase font-weight-bold">Our Blog</h6>
                <h1 class="mb-4">Latest From Blog</h1>
            </div>
            <div  class="row">
                <div class="col-md-6 mb-5">
                    <div  class="position-relative">
                        <img style="height: 500px !important; width: 500px !important;" class="img-fluid w-100" src="./../media/images/fath_recruting.jpg" alt="">
                        <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                            style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
                            <h4 class="font-weight-bold mb-n1">01</h4>
                            <small class="text-white text-uppercase">Blog</small>
                        </div>
                    </div>
                    <div class="bg-secondary" style="padding: 30px;">
                        <div class="d-flex mb-3">
                            <div class="d-flex align-items-center ml-4">
                                <i style="color:rgb(231, 216, 3) !important;" class="far fa-bookmark text-primary"></i>
                                <a class="text-muted ml-2" href="/blog">Fath Recruting </a>
                            </div>
                        </div>
                        <h4 class="font-weight-bold mb-3">Logistic company blog</h4>
                        <p>We have 5 experienced drivers looking for a good company for lease purchase option. The companies offering trucks to lease pls reach us</p>
                        <a class="border-bottom border-primary text-uppercase text-decoration-none" href="/blog">Blog <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

                <div class="col-md-6 mb-5">
                    <div class="position-relative">
                        <img style="height: 500px !important;" class="img-fluid w-100" src="./../media/images/2222.png" alt="">
                        <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                            style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
                            <h4 class="font-weight-bold mb-n1">02</h4>
                            <small class="text-white text-uppercase">Blog</small>
                        </div>
                    </div>
                    <div class="bg-secondary" style="padding: 30px;">
                        <div class="d-flex mb-3">
                            
                            <div class="d-flex align-items-center ml-4">
                                <i class="far fa-bookmark text-primary"></i>
                                <a class="text-muted ml-2" href="/blog">Fath Recruting</a>
                            </div>
                        </div>
                        <h4 class="font-weight-bold mb-3"></h4>
                        <p>We help companies to recruit STRONG COMPANY DRIVERS and OWNER OPERATORS.
                            Contact number, CDL, Medical card, Zip Code are all provided.
                            We guarantee that the drivers stay with the company for long.
                           All READY to start ASAP</p>
                        <a class="border-bottom border-primary text-uppercase text-decoration-none" href="/blog">Blog <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->



</body>

</html>


{% endblock content %}